.home {
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    gap: 0rem;
    padding: 40px 20px;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    width: fit-content;
    margin: 0 auto;
    margin-left: 6%;
    text-align: center;
}

.icons {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
    font-size: 1rem;
}

.icons .icon {
    font-size: 2rem;
}

.icons h3 {
    margin: 1.25rem 0;
}

.icons p {
    margin: 0;
    line-height: 1.4;
}

.explanation {
    margin-top: 3rem;
}

.home button {
    border-radius: 15px;
    padding: 14px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
    background-color: #ddeef0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2rem;
}

.home button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(40, 11, 200, 0.19);
    border-color: blue;
}